.st0 {
        fill: #4a3331;
      }

      .st1 {
        fill: #b7b19d;
      }

      .st2 {
        fill: #39312d;
      }

      .st3 {
        fill: #767266;
      }

      .st4 {
        fill: #383733;
      }

      .st5 {
        fill: #54544f;
      }

      .st6 {
        fill: #7b7874;
      }

      .st7 {
        fill: #0e0e0d;
      }

      .st8 {
        fill: #2b1f1f;
      }

      .st9 {
        fill: #9c9987;
      }

      .st10 {
        fill: #030509;
      }

      .st11 {
        fill: #423932;
      }

      .st12 {
        fill: #1d1e14;
      }

      .st13 {
        fill: #18130f;
      }

      .st14 {
        fill: #8f8b7e;
      }

      .st15 {
        fill: #58584d;
      }

      .st16 {
        fill: #554e43;
      }

      .st17 {
        fill: #2b2922;
      }

      .st18 {
        fill: #746057;
      }

      .st19 {
        fill: #251d1a;
      }

      .st20 {
        fill: #434241;
      }

      .st21 {
        fill: #797462;
      }

      .st22 {
        fill: #454138;
      }

      .st23 {
        fill: #0a0a06;
      }

      .st24 {
        fill: #373432;
      }

      .st25 {
        fill: #4f4f4d;
      }

      .st26 {
        fill: #303a40;
      }

      .st27 {
        fill: #403833;
      }

      .st28 {
        fill: #0e0807;
      }

      .st29 {
        fill: #383c3e;
      }

      .st30 {
        fill: #464342;
      }

      .st31 {
        fill: #2d2c2c;
      }

      .st32 {
        fill: #050506;
      }

      .st33 {
        fill: #37312e;
      }

      .st34 {
        fill: #313131;
      }

      .st35 {
        fill: #3f3832;
      }

      .st36 {
        fill: #898989;
      }

      .st37 {
        fill: #0d0706;
      }

      .st38 {
        fill: #3a3734;
      }

      .st39 {
        fill: #010101;
      }

      .st40 {
        fill: #0e0d0c;
      }

      .st41 {
        fill: #47413b;
      }

      .st42 {
        fill: #5f5e4f;
      }

      .st43 {
        fill: #a4a08a;
      }

      .st44 {
        fill: #353f46;
      }

      .st45 {
        fill: #70665f;
      }

      .st46 {
        fill: #5a5b58;
      }

      .st47 {
        fill: #63393c;
      }

      .st48 {
        fill: #302a29;
      }

      .st49 {
        fill: #928a80;
      }

      .st50 {
        fill: #110c0a;
      }

      .st51 {
        fill: #9d9a87;
      }

      .st52 {
        fill: #342221;
      }

      .st53 {
        fill: #959490;
      }

      .st54 {
        fill: #544d3f;
      }

      .st55 {
        fill: #140f0b;
      }

      .st56 {
        fill: #2c2c2c;
      }

      .st57 {
        fill: #423b36;
      }

      .st58 {
        fill: #9d9c8c;
      }

      .st59 {
        fill: #090a0a;
      }

      .st60 {
        fill: #3b2b2b;
      }

      .st61 {
        fill: #7b7e6a;
      }

      .st62 {
        fill: #2a2a2a;
      }

      .st63 {
        fill: #0a0908;
      }

      .st64 {
        fill: #8d8671;
      }

      .st65 {
        fill: #8b8874;
      }

      .st66 {
        fill: #090202;
      }

      .st67 {
        fill: #0c0c07;
      }

      .st68 {
        fill: #070706;
      }

      .st69 {
        fill: #8d8b7a;
      }

      .st70 {
        fill: #413b35;
      }

      .st71 {
        fill: #050402;
      }

      .st72 {
        fill: #28241b;
      }

      .st73 {
        fill: #625e54;
      }

      .st74 {
        fill: #a9a58c;
      }

      .st75 {
        fill: #333332;
      }

      .st76 {
        fill: #87857d;
      }

      .st77 {
        fill: #3d3831;
      }

      .st78 {
        fill: #665a54;
      }

      .st79 {
        fill: #a9a6a2;
      }

      .st80 {
        fill: #37221d;
      }

      .st81 {
        fill: #a29e89;
      }

      .st82 {
        fill: #0d0704;
      }

      .st83 {
        fill: #83846d;
      }

      .st84 {
        fill: #a7a7a7;
      }

      .st85 {
        fill: #0e0b07;
      }

      .st86 {
        fill: #493d36;
      }

      .st87 {
        fill: #484039;
      }

      .st88 {
        fill: #0f0a06;
      }

      .st89 {
        fill: #5e5746;
      }

      .st90 {
        fill: #5e574b;
      }

      .st91 {
        fill: #666456;
      }

      .st92 {
        fill: #3e3e3e;
      }

      .st93 {
        fill: #6c6d5d;
      }

      .st94 {
        fill: #1a0704;
      }

      .st95 {
        fill: #080808;
      }

      .st96 {
        fill: #313b42;
      }

      .st97 {
        fill: #24180e;
      }

      .st98 {
        fill: #888174;
      }

      .st99 {
        fill: #181f22;
      }

      .st100 {
        fill: #311e1f;
      }

      .st101 {
        fill: #737363;
      }

      .st102 {
        fill: #3f3f3f;
      }

      .st103 {
        fill: #757467;
      }

      .st104 {
        fill: #6e614b;
      }

      .st105 {
        fill: #555552;
      }

      .st106 {
        fill: #777362;
      }

      .st107 {
        fill: #94948a;
      }

      .st108 {
        fill: #1b190e;
      }

      .st109 {
        fill: #4d4d4d;
      }

      .st110 {
        fill: #81827f;
      }

      .st111 {
        fill: #5a5a56;
      }

      .st112 {
        fill: #4b3f37;
      }

      .st113 {
        fill: #503d38;
      }

      .st114 {
        fill: #7e7d68;
      }

      .st115 {
        fill: #a8a58d;
      }

      .st116 {
        fill: #3f3d34;
      }

      .st117 {
        fill: #514d40;
      }

      .st118 {
        fill: #7e7e7e;
      }

      .st119 {
        fill: #4c2e31;
      }

      .st120 {
        fill: #a79a7d;
      }

      .st121 {
        fill: #100d09;
      }

      .st122 {
        fill: #020202;
      }

      .st123 {
        fill: #5b5b56;
      }

      .st124 {
        fill: #403f3f;
      }

      .st125 {
        fill: #3a322c;
      }

      .st126 {
        fill: #1f120c;
      }

      .st127 {
        fill: #3a2b2b;
      }

      .st128 {
        fill: #42433f;
      }

      .st129 {
        fill: #392c2b;
      }

      .st130 {
        fill: #72605b;
      }

      .st131 {
        fill: #7a7965;
      }

      .st132 {
        fill: #4a453d;
      }

      .st133 {
        fill: #5e5e5e;
      }

      .st134 {
        fill: #aba89f;
      }

      .st135 {
        fill: #070809;
      }

      .st136 {
        fill: #0e0f0a;
      }

      .st137 {
        fill: #929287;
      }

      .st138 {
        fill: #3e3834;
      }

      .st139 {
        fill: #1d1912;
      }

      .st140 {
        fill: #7f7f66;
      }

      .st141 {
        fill: #2a1b18;
      }

      .st142 {
        fill: #47443f;
      }

      .st143 {
        fill: #414242;
      }

      .st144 {
        fill: #403e39;
      }

      .st145 {
        fill: #130b08;
      }

      .st146 {
        fill: #414140;
      }

      .st147 {
        fill: #3b3935;
      }

      .st148 {
        fill: #c4bda6;
      }

      .st149 {
        fill: #827e6f;
      }

      .st150 {
        fill: #3c3c3c;
      }

      .st151 {
        fill: #080809;
      }

      .st152 {
        fill: #0a0a07;
      }

      .st153 {
        fill: #2d3941;
      }

      .st154 {
        fill: #060403;
      }

      .st155 {
        fill: #5d564f;
      }

      .st156 {
        fill: #383325;
      }

      .st157 {
        fill: #1d2a2e;
      }

      .st158 {
        fill: #848380;
      }

      .st159 {
        fill: #454543;
      }

      .st160 {
        fill: #aea993;
      }

      .st161 {
        fill: #110d0a;
      }

      .st162 {
        fill: #070604;
      }

      .st163 {
        fill: #43494f;
      }

      .st164 {
        fill: #0a0a08;
      }

      .st165 {
        fill: #51453a;
      }

      .st166 {
        fill: #3f494d;
      }

      .st167 {
        fill: #070504;
      }

      .st168 {
        fill: #50504f;
      }

      .st169 {
        fill: #111b20;
      }

      .st170 {
        fill: #484735;
      }

      .st171 {
        fill: #111110;
      }

      .st172 {
        fill: #424242;
      }

      .st173 {
        fill: #cecece;
      }

      .st174 {
        fill: #424c54;
      }

      .st175 {
        fill: #0c0b08;
      }

      .st176 {
        fill: #aca68f;
      }

      .st177 {
        fill: #685d53;
      }

      .st178 {
        fill: #0e0b06;
      }

      .st179 {
        fill: #41382d;
      }

      .st180 {
        fill: #3b4044;
      }

      .st181 {
        fill: #110b06;
      }

      .st182 {
        fill: #28261c;
      }

      .st183 {
        fill: #615d4d;
      }

      .st184 {
        fill: #9a997f;
      }

      .st185 {
        fill: #9b9b9b;
      }

      .st186 {
        fill: #0c0905;
      }

      .st187 {
        fill: #120e0a;
      }

      .st188 {
        fill: #3d342f;
      }

      .st189 {
        fill: #0a0402;
      }

      .st190 {
        fill: #060603;
      }

      .st191 {
        fill: #757270;
      }

      .st192 {
        fill: #3c3632;
      }

      .st193 {
        fill: #797873;
      }

      .st194 {
        fill: #423730;
      }

      .st195 {
        fill: #88887d;
      }

      .st196 {
        fill: #343a3d;
      }

      .st197 {
        fill: #090806;
      }

      .st198 {
        fill: #0e0d09;
      }

      .st199 {
        fill: #060606;
      }

      .st200 {
        fill: #a9a690;
      }

      .st201 {
        fill: #989288;
      }

      .st202 {
        fill: #7a7765;
      }

      .st203 {
        fill: #0e0f0f;
      }

      .st204 {
        fill: #1b1614;
      }

      .st205 {
        fill: #303030;
      }

      .st206 {
        fill: #120b08;
      }

      .st207 {
        fill: #474342;
      }

      .st208 {
        fill: #090808;
      }

      .st209 {
        fill: #060202;
      }

      .st210 {
        fill: #8e8772;
      }

      .st211 {
        fill: #463e35;
      }

      .st212 {
        fill: #595045;
      }

      .st213 {
        fill: #3c3c3d;
      }

      .st214 {
        fill: #020302;
      }

      .st215 {
        fill: #48565c;
      }

      .st216 {
        fill: #746e64;
      }

      .st217 {
        fill: #403935;
      }

      .st218 {
        fill: #363326;
      }

      .st219 {
        fill: #9f9d88;
      }

      .st220 {
        fill: #514b46;
      }

      .st221 {
        fill: #73716d;
      }

      .st222 {
        fill: #050202;
      }

      .st223 {
        fill: #4a575f;
      }

      .st224 {
        fill: #131311;
      }

      .st225 {
        fill: #868381;
      }

      .st226 {
        fill: #62625d;
      }

      .st227 {
        fill: #334047;
      }

      .st228 {
        fill: #0d0403;
      }

      .st229 {
        fill: #484136;
      }

      .st230 {
        fill: #0d0806;
      }

      .st231 {
        fill: #0a0302;
      }

      .st232 {
        fill: #565345;
      }

      .st233 {
        fill: #1b110d;
      }

      .st234 {
        fill: #b5b19e;
      }

      .st235 {
        fill: #333124;
      }

      .st236 {
        fill: #05080c;
      }

      .st237 {
        fill: #443e34;
      }

      .st238 {
        fill: #0b0a07;
      }

      .st239 {
        fill: #362425;
      }

      .st240 {
        fill: #7a7975;
      }

      .st241 {
        fill: #4a4b47;
      }

      .st242 {
        fill: #536268;
      }

      .st243 {
        fill: #a5a29c;
      }

      .st244 {
        fill: #504a3f;
      }

      .st245 {
        fill: #aeaa94;
      }

      .st246 {
        fill: #6a6157;
      }

      .st247 {
        fill: #7d766a;
      }

      .st248 {
        fill: #a4a3a0;
      }

      .st249 {
        fill: #040406;
      }

      .st250 {
        fill: #885d47;
      }

      .st251 {
        fill: #8c8982;
      }

      .st252 {
        fill: #404040;
      }

      .st253 {
        fill: #4d2e31;
      }

      .st254 {
        fill: #757362;
      }

      .st255 {
        fill: #282827;
      }

      .st256 {
        fill: #3f413a;
      }

      .st257 {
        fill: #9f9b8a;
      }

      .st258 {
        fill: #8d8875;
      }

      .st259 {
        fill: #5e5c55;
      }

      .st260 {
        fill: #7f8074;
      }

      .st261 {
        fill: #6c6252;
      }

      .st262 {
        fill: #655f51;
      }

      .st263 {
        fill: #433933;
      }

      .st264 {
        fill: #050503;
      }

      .st265 {
        fill: #3d2929;
      }

      .st266 {
        fill: #635e52;
      }

      .st267 {
        fill: #545556;
      }

      .st268 {
        fill: #73726e;
      }

      .st269 {
        fill: #17140e;
      }

      .st270 {
        fill: #3b3b3b;
      }

      .st271 {
        fill: #373434;
      }

      .st272 {
        fill: #8b8773;
      }

      .st273 {
        fill: #5c5c5b;
      }

      .st274 {
        fill: #363636;
      }

      .st275 {
        fill: #0e0c08;
      }

      .st276 {
        fill: #43413c;
      }

      .st277 {
        fill: #28221a;
      }

      .st278 {
        fill: #685d50;
      }

      .st279 {
        fill: #424e54;
      }

      .st280 {
        fill: #383937;
      }

      .st281 {
        fill: #463b35;
      }

      .st282 {
        fill: #3d3b37;
      }

      .st283 {
        fill: #86866a;
      }

      .st284 {
        fill: #85816f;
      }

      .st285 {
        fill: #736d5c;
      }

      .st286 {
        fill: #555453;
      }

      .st287 {
        fill: #82585a;
      }

      .st288 {
        fill: #3a3a3a;
      }

      .st289 {
        fill: #2e2b29;
      }

      .st290 {
        fill: #6e6e6c;
      }

      .st291 {
        fill: #413c38;
      }

      .st292 {
        fill: #392323;
      }

      .st293 {
        fill: #454545;
      }

      .st294 {
        fill: #080503;
      }

      .st295 {
        fill: #44423b;
      }

      .st296 {
        fill: #737374;
      }

      .st297 {
        fill: #76655e;
      }

      .st298 {
        fill: #43312e;
      }

      .st299 {
        fill: #7a7763;
      }

      .st300 {
        fill: #4f4b42;
      }

      .st301 {
        fill: #5b5a54;
      }

      .st302 {
        fill: #433430;
      }

      .st303 {
        fill: #170d07;
      }

      .st304 {
        fill: #dbdbdb;
      }

      .st305 {
        fill: #4a4137;
      }

      .st306 {
        fill: #4a4037;
      }

      .st307 {
        fill: #505e65;
      }

      .st308 {
        fill: #2f2f2e;
      }

      .st309 {
        fill: #03080f;
      }

      .st310 {
        fill: #878576;
      }

      .st311 {
        fill: #191712;
      }

      .st312 {
        fill: #363a3e;
      }

      .st313 {
        fill: #090906;
      }

      .st314 {
        fill: #050504;
      }

      .st315 {
        fill: #2e2e2f;
      }

      .st316 {
        fill: #86857d;
      }

      .st317 {
        fill: #3d3d3a;
      }

      .st318 {
        fill: #494844;
      }

      .st319 {
        fill: #1c1611;
      }

      .st320 {
        fill: #66665f;
      }

      .st321 {
        fill: #3f2a29;
      }

      .st322 {
        fill: #313130;
      }

      .st323 {
        fill: #322627;
      }

      .st324 {
        fill: #595049;
      }

      .st325 {
        fill: #454239;
      }

      .st326 {
        fill: #0a0806;
      }

      .st327 {
        fill: #aca490;
      }

      .st328 {
        fill: #070605;
      }

      .st329 {
        fill: #383839;
      }

      .st330 {
        fill: #989a96;
      }

      .st331 {
        fill: #070704;
      }

      .st332 {
        fill: #362625;
      }

      .st333 {
        fill: #4c4940;
      }

      .st334 {
        fill: #2b2b2b;
      }

      .st335 {
        fill: #726454;
      }

      .st336 {
        fill: #6d5d54;
      }

      .st337 {
        fill: #0b080b;
      }

      .st338 {
        fill: #4c443b;
      }

      .st339 {
        fill: #354047;
      }

      .st340 {
        fill: #3d3d3c;
      }

      .st341 {
        fill: #bcb5a0;
      }

      .st342 {
        fill: #706f61;
      }

      .st343 {
        fill: #2f2823;
      }

      .st344 {
        fill: #18140e;
      }

      .st345 {
        fill: #3b3729;
      }

      .st346 {
        fill: #b2ac97;
      }

      .st347 {
        fill: #655449;
      }

      .st348 {
        fill: #98907e;
      }

      .st349 {
        fill: #221e1d;
      }

      .st350 {
        fill: #533d3b;
      }

      .st351 {
        fill: #9f9c85;
      }

      .st352 {
        fill: #070a0e;
      }

      .st353 {
        fill: #7a7a74;
      }

      .st354 {
        fill: #342c2a;
      }

      .st355 {
        fill: #211a17;
      }

      .st356 {
        fill: #0d0d0d;
      }

      .st357 {
        fill: #8b8872;
      }

      .st358 {
        fill: #ddd;
      }

      .st359 {
        fill: #41403f;
      }

      .st360 {
        fill: #b1ac93;
      }

      .st361 {
        fill: #0d0e0d;
      }

      .st362 {
        fill: #333;
      }

      .st363 {
        fill: #474845;
      }

      .st364 {
        fill: #0d0d0c;
      }

      .st365 {
        fill: #130e0a;
      }

      .st366 {
        fill: #484847;
      }

      .st367 {
        fill: #5a554c;
      }

      .st368 {
        fill: #716852;
      }

      .st369 {
        fill: #3e3d3b;
      }

      .st370 {
        fill: #10110d;
      }

      .st371 {
        fill: #878579;
      }

      .st372 {
        fill: #27211a;
      }

      .st373 {
        fill: #847d6c;
      }

      .st374 {
        fill: #94876d;
      }

      .st375 {
        fill: #3f3d39;
      }

      .st376 {
        fill: #626051;
      }

      .st377 {
        fill: #a9a8a4;
      }

      .st378 {
        fill: #333f47;
      }

      .st379 {
        fill: #0d0404;
      }

      .st380 {
        fill: #423c37;
      }

      .st381 {
        fill: #4e443f;
      }

      .st382 {
        fill: #4f433c;
      }

      .st383 {
        fill: #211c14;
      }

      .st384 {
        fill: #a69e90;
      }

      .st385 {
        fill: #5b5954;
      }

      .st386 {
        fill: #2b3338;
      }

      .st387 {
        fill: #554f38;
      }

      .st388 {
        fill: #918c76;
      }

      .st389 {
        fill: #3d3836;
      }

      .st390 {
        fill: #100604;
      }

      .st391 {
        fill: #88837a;
      }

      .st392 {
        fill: #3b3835;
      }

      .st393 {
        fill: #3f3530;
      }

      .st394 {
        fill: #1e1914;
      }

      .st395 {
        fill: #4d4d4b;
      }

      .st396 {
        fill: #110d08;
      }

      .st397 {
        fill: #ac9280;
      }

      .st398 {
        fill: #7f7c71;
      }

      .st399 {
        fill: #0a0b08;
      }

      .st400 {
        fill: #aea992;
      }

      .st401 {
        fill: #7f746c;
      }

      .st402 {
        fill: #1a180c;
      }

      .st403 {
        fill: #372c28;
      }

      .st404 {
        fill: #726a5a;
      }

      .st405 {
        fill: #0b1215;
      }

      .st406 {
        fill: #39312e;
      }

      .st407 {
        fill: #40382f;
      }

      .st408 {
        fill: #484742;
      }

      .st409 {
        fill: #232323;
      }

      .st410 {
        fill: #b4b4b4;
      }

      .st411 {
        fill: #262018;
      }

      .st412 {
        fill: #a09d99;
      }

      .st413 {
        fill: #71645a;
      }

      .st414 {
        fill: #867d6e;
      }

      .st415 {
        fill: #0a0b06;
      }

      .st416 {
        fill: #483e3a;
      }

      .st417 {
        fill: #eceeec;
      }

      .st418 {
        fill: #929084;
      }

      .st419 {
        fill: #737063;
      }

      .st420 {
        fill: #343534;
      }

      .st421 {
        fill: #847c6e;
      }

      .st422 {
        fill: #f7e296;
      }

      .st423 {
        fill: #0d0c09;
      }

      .st424 {
        fill: #040201;
      }

      .st425 {
        fill: #47443e;
      }

      .st426 {
        fill: #442b25;
      }

      .st427 {
        fill: #58554a;
      }

      .st428 {
        fill: #676353;
      }

      .st429 {
        fill: #363638;
      }

      .st430 {
        fill: #3e2627;
      }

      .st431 {
        fill: #362f28;
      }

      .st432 {
        fill: #3b3b3c;
      }

      .st433 {
        fill: #969592;
      }

      .st434 {
        fill: #2c343a;
      }

      .st435 {
        fill: #46453f;
      }

      .st436 {
        fill: #8b8b73;
      }

      .st437 {
        fill: #080805;
      }

      .st438 {
        fill: #403530;
      }

      .st439 {
        fill: #8b8f73;
      }

      .st440 {
        fill: #0a0a09;
      }

      .st441 {
        fill: #050602;
      }

      .st442 {
        fill: #03060a;
      }

      .st443 {
        fill: #302b1f;
      }

      .st444 {
        fill: #545454;
      }

      .st445 {
        fill: #0b0906;
      }

      .st446 {
        fill: #322022;
      }

      .st447 {
        fill: #2d2722;
      }

      .st448 {
        fill: #b6b197;
      }

      .st449 {
        fill: #0b0603;
      }

      .st450 {
        fill: #090705;
      }

      .st451 {
        fill: #353535;
      }

      .st452 {
        fill: #3a332c;
      }

      .st453 {
        fill: #0d0d08;
      }

      .st454 {
        fill: #514e4b;
      }

      .st455 {
        fill: #66574f;
      }

      .st456 {
        fill: #040b13;
      }

      .st457 {
        fill: #75736e;
      }

      .st458 {
        fill: #5f605a;
      }

      .st459 {
        fill: #777661;
      }

      .st460 {
        fill: #393939;
      }

      .st461 {
        fill: #0f0a09;
      }

      .st462 {
        fill: #423c36;
      }

      .st463 {
        fill: #4e4a43;
      }

      .st464 {
        fill: #1b1512;
      }

      .st465 {
        fill: #ada797;
      }

      .st466 {
        fill: #39464d;
      }

      .st467 {
        fill: #120c07;
      }

      .st468 {
        fill: #0a0909;
      }

      .st469 {
        fill: #414142;
      }

      .st470 {
        fill: #575543;
      }

      .st471 {
        fill: #282727;
      }

      .st472 {
        fill: #a2a29a;
      }

      .st473 {
        fill: #938d79;
      }

      .st474 {
        fill: #0a0a0a;
      }

      .st475 {
        fill: #373738;
      }

      .st476 {
        fill: #100805;
      }

      .st477 {
        fill: #979689;
      }

      .st478 {
        fill: #918b7e;
      }

      .st479 {
        fill: #3d3530;
      }

      .st480 {
        fill: #60574f;
      }

      .st481 {
        fill: #5d5d5d;
      }

      .st482 {
        fill: #3f3735;
      }

      .st483 {
        fill: #605d50;
      }

      .st484 {
        fill: #373739;
      }

      .st485 {
        fill: #2d2a29;
      }

      .st486 {
        fill: #2e1e1c;
      }

      .st487 {
        fill: #fefefe;
      }

      .st488 {
        fill: #17160e;
      }

      .st489 {
        fill: #28241a;
      }

      .st490 {
        fill: #716353;
      }

      .st491 {
        fill: #0f0704;
      }

      .st492 {
        fill: #1a1711;
      }

      .st493 {
        fill: #351d15;
      }

      .st494 {
        fill: #424241;
      }

      .st495 {
        fill: #080705;
      }

      .st496 {
        fill: #2d2e2c;
      }

      .st497 {
        fill: #4c4139;
      }

      .st498 {
        fill: #8d8674;
      }

      .st499 {
        fill: #868572;
      }

      .st500 {
        fill: #313030;
      }

      .st501 {
        fill: #575853;
      }

      .st502 {
        fill: #898d6e;
      }

      .st503 {
        fill: #331514;
      }

      .st504 {
        fill: #0b0706;
      }

      .st505 {
        fill: #ada18a;
      }

      .st506 {
        fill: #070707;
      }

      .st507 {
        fill: #744143;
      }

      .st508 {
        fill: #95987a;
      }

      .st509 {
        fill: #525251;
      }

      .st510 {
        fill: #49443c;
      }

      .st511 {
        fill: #7b7865;
      }

      .st512 {
        fill: #4e4a45;
      }

      .st513 {
        fill: #898880;
      }

      .st514 {
        fill: #453131;
      }

      .st515 {
        fill: #584b3f;
      }

      .st516 {
        fill: #3c2d29;
      }

      .st517 {
        fill: #2e2519;
      }

      .st518 {
        fill: #d1d1d1;
      }

      .st519 {
        fill: #393a39;
      }

      .st520 {
        fill: #321e20;
      }

      .st521 {
        fill: #726e67;
      }

      .st522 {
        fill: #928d76;
      }

      .st523 {
        fill: #343434;
      }

      .st524 {
        fill: #796d62;
      }

      .st525 {
        fill: #090503;
      }

      .st526 {
        fill: #0d0905;
      }

      .st527 {
        fill: #726f62;
      }

      .st528 {
        fill: #7e7b66;
      }

      .st529 {
        fill: #665f55;
      }

      .st530 {
        fill: #383230;
      }

      .st531 {
        fill: #6c6c67;
      }

      .st532 {
        fill: #47494e;
      }

      .st533 {
        fill: #323232;
      }

      .st534 {
        fill: #060605;
      }

      .st535 {
        fill: #44433f;
      }

      .st536 {
        fill: #4a5052;
      }

      .st537 {
        fill: #7e7b65;
      }

      .st538 {
        fill: #433e3c;
      }

      .st539 {
        fill: #62574a;
      }

      .st540 {
        fill: #96947e;
      }

      .st541 {
        fill: #3b1e20;
      }

      .st542 {
        fill: #494947;
      }

      .st543 {
        fill: #3c3530;
      }

      .st544 {
        fill: #18130b;
      }

      .st545 {
        fill: #8e8a77;
      }

      .st546 {
        fill: #2e2e2e;
      }

      .st547 {
        fill: #807d71;
      }

      .st548 {
        fill: #3c342f;
      }

      .st549 {
        fill: #5e574c;
      }

      .st550 {
        fill: #5a5141;
      }

      .st551 {
        fill: #875d5a;
      }

      .st552 {
        fill: #5f4e49;
      }

      .st553 {
        fill: #090504;
      }

      .st554 {
        fill: #5a5b54;
      }

      .st555 {
        fill: #463124;
      }
